name: Test

on:
  push:
    branches:
      - 'main'
  pull_request:
    branches:
      - 'main'

jobs:
  test:
    strategy:
      matrix:
        go-version: [ '1.20', '1.21', '1.22', '1.23', '1.24' ]
        os: [ ubuntu-latest, macos-latest, windows-latest ]
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-go@v6
        with:
          go-version: ${{ matrix.go-version }}
      - run: go test -race -coverprofile coverage.out -covermode atomic ./...
      - uses: codecov/codecov-action@v5
        if: matrix.go-version == '1.24' && matrix.os == 'ubuntu-latest'
        env:
          CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}
